.header{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
}
.logo {
	display: inline-flex;
	flex-grow: 2;
	
}

.logo.text{
	color: MediumAquamarine;
	align-items: center;
}

.navigation{
	display: flex;
	align-items: center;
}

.navigation li{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	display: inline;
    text-align: center;
    padding: 0px 40px;
}

.navigation a{
	flex-direction: row;
	flex-grow: 1;
	color: black;
	
}

/* Body part starts */

.container{
	display: flex;
	
}


.column.large {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 3;
  	width: 630px;
  	justify-content: center;
}

.column.large p{
	

	
}

.column.medium {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 2;
  	width: 300px;
}

.column.small {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
	width: 240px;
}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6{
	font-family: Georgia;
    font-size: 17px;
    color: black;
}

.text-1{
	display: flex;

	justify-content: flex-start;
}

 /* Images */

 /*.img-1,
 .img-2,
 .img-3,
 .img-5{
 	display: flex;
 }*/

 .img-1 p{
 	display: flex;
 	background-image: url(./imges/img-story-main.png);
 	align-items: flex-start;
 	justify-content: flex-start;
 	text-align: left;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 590px;
    margin: 0;
    padding: 0px 118px 160px 0px;
}

 .img-2 p{
 	display: flex;
 	background-image: url(./imges/img-story-2.png);
 	align-items: flex-start;
 	justify-content: center;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 590px;
    margin: 0 auto;
    padding-bottom: 260px;

}

 .img-3 p{
 	display: flex;
 	background-image: url(./imges/img-story-3.png);
 	align-items: flex-start;
 	text-align: center;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 590px;
    margin: 0 auto;
    padding: 10px 60px 210px;
}

 .img-5 p{
 	display: flex;
 	background-image: url(./imges/img-story-1.png);
 	align-items: center;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 300px;
    margin: 0 auto;
    padding: 10px 25px 210px;
}