.header{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
}
.logo {
	display: inline-flex;
	flex-grow: 2;
	
}

.logo.text{
	color: MediumAquamarine;
	align-items: center;
}

.navigation{
	display: flex;
	align-items: center;
}

.navigation li{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	display: inline;
    text-align: center;
    padding: 0px 40px;
}

.navigation a{
	flex-direction: row;
	flex-grow: 1;
	color: black;
	
}

/* Body part starts */

.container{
	display: flex;
	
}

.column{
	
	
}

.column.large {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 3;
	border: thin solid black;
  	width: 630px;
}

.column.large p{
	
}

.column.medium {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 2;
  	border: thin solid black;
  	width: 300px;
}

.column.small {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
	border: thin solid black;
  	width: 240px;
}

/*.text-1,*/
.text-2/*,
.text-3,
.text-4,
.text-5,
.text-6*/{
	border: thin solid black;
	font-family: Georgia;
    font-size: 17px;
    color: black;
}

 /* Images */

 .img-1,
 .img-2,
 .img-3,
 .img-5{
 	display: flex;


 }

 .text-1 p1{
 	display: flex;
 	align-items: center;
 	position: absolute;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 590px;
    margin: 0 auto;
}

 .text-2 p1{
 	display: flex;
 	align-items: center;
 	position: absolute;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 590px;
    margin: 0 auto;
}

 .text-3 p1{
 	display: flex;
 	align-items: center;
 	position: absolute;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 590px;
    margin: 0 auto;
}

 .text-5 p1{
 	display: flex;
 	align-items: center;
 	position: absolute;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 590px;
    margin: 0 auto;
}