.header{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
}
.logo {
	display: inline-flex;
	flex-grow: 2;
	
}

.logo.text{
	color: MediumAquamarine;
	align-items: center;
}

.navigation{
	display: flex;
	align-items: center;
}

.navigation li{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	display: inline;
    text-align: center;
    padding: 0px 40px;
}

.navigation a{
	flex-direction: row;
	flex-grow: 1;
	color: black;
	
}

/* Body part starts */

.container{
	display: flex;
	
}


.column.large {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 3;
  	width: 630px;
  	justify-content: center;
}

.column.medium {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 2;
  	width: 300px;
}

.column.small {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 240px;

}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6{
	font-family: Georgia;
    font-size: 17px;
    color: black;
}

.text-1 {
	border: thick solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 500px;
	width: 625px;
}

.text-2{
	border: thick solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;

	height: 570px;
	width: 300px;
}

.text-3{
	border: thick solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 550px;
	width: 300px;
}

.text-4{
	border: thick solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 500px;
	width: 300px;	
}

.text-5{
	border: thick solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 550px;
	width: 300px;	
}

.group1{
	display: flex;

}

.text-6 p{
	display: flex;
    background-color: WhiteSmoke;
    font-family: Verdana;
  	font-size: 12px;
  	color: DimGray;
  	border: thin black;
  	border-style: solid none;
}

 /* Images */

 /*.img-1,
 .img-2,
 .img-3,
 .img-5{
 	display: flex;
 }*/

 .img-1 {
 	display: flex;
 	background-image: url(./imges/img-story-main.png);
 	align-items: flex-start;
 	justify-content: flex-start;
 	text-align: left;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 590px;
    height: 400px;
    margin: 0;
    padding: 0px 118px 60px 0px;
    background-repeat: no-repeat;
}



 .img-2 {
 	display: flex;
 	background-image: url(./imges/img-story-2.png);
 	align-items: flex-start;
 	justify-content: center;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    padding-top: 0px;
    padding-bottom: 290px;
}

 .img-3 {
 	display: flex;
 	background-image: url(./imges/img-story-3.png);
 	align-items: flex-start;
 	text-align: center;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 240px;
    height: 550px;
    margin: 0 auto;
    padding: 0px 60px 210px 0px;
}

 .img-5 p{
 	display: flex;
 	background-image: url(./imges/img-story-1.png);
 	align-items: center;
 	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 300px;
    margin: 0 auto;
<<<<<<< HEAD
    padding: 10px 0px 210px 0px;
}
=======
    padding: 10px 25px 210px;
}
>>>>>>> a76af400e6bcfff7906635b718f5daa00c944dcb
